$def with (d)

<h1>Date list</h1>
$ media=d['data']['media']
$ field=d['data']['field']
$for dt in d['data']['dates']:
      <p>
      <a href="$homepath()/ranking?media=$media&field=$field&from=$dt[0].strftime('%Y-%m-%d')&to=$dt[1].strftime('%Y-%m-%d')">
      $media&nbsp;$field&nbsp;$dt[0]
      </a>
      <a href="$homepath()/ranking?media=$media&field=$field&from=$dt[0].strftime('%Y-%m-%d')&to=$dt[1].strftime('%Y-%m-%d')&filtercountry=G8">
      G8
      </a>
      <a href="$homepath()/ranking?media=$media&field=$field&from=$dt[0].strftime('%Y-%m-%d')&to=$dt[1].strftime('%Y-%m-%d')&filtercountry=G20">
      G20
      <a href="$homepath()/ranking?media=$media&field=$field&from=$dt[0].strftime('%Y-%m-%d')&to=$dt[1].strftime('%Y-%m-%d')&filtercountry=TOP50">
      TOP50
      <a href="$homepath()/interranking?media=$media&field=$field&from=$dt[0].strftime('%Y-%m-%d')&to=$dt[1].strftime('%Y-%m-%d')&filtercountry=TOP50">
     InterCrossAppRanking

      </a>
      <a href="$homepath()/publisherranking?media=$media&field=$field&from=$dt[0].strftime('%Y-%m-%d')&to=$dt[1].strftime('%Y-%m-%d')&filtercountry=TOP50">
     PublisherRanking
      </a>
      </p>
