$def with (d)

<a href="$homepath()/">home</a>
<h1>RankingLinst</h1>
<p>
$d['fd'].strftime('%Y-%m-%d')のランキング<br/>
Media:$d['media']&nbsp;Field:$d['field']<br/>
</p>

$def showinfo(plist):
   <table>
   $for aa in sorted(plist,key=lambda x:len(x.appinfo()),reverse=True):
       <tr>
       <th>
       $aa.web_trim(aa.artist,20)<br/>
       $for i,(c,s) in enumerate(aa.gen_clist()):
            <img src="$homepath()/static/flag/$(c).png" title="$aa.cname(c)"/>
            $if i!=0 and i%10==0:
               <br/>
       </th>

       $for appinfo in aa.appinfo():
           <td>
           <a href="$appinfo.link" target="_blank">
           <img src="$appinfo.img" title="$appinfo.title"/>
           </a> 
           </td>
       </tr>
   </table>
<div>
<table border="1">
<tr>
<th>ランキング入り国数</th><th>アプリ情報</th>
</tr>
$for a,b in d['sorted_data']:
    <tr>
    <td>$a</td>
    <td>$:showinfo(b)</td>
    </tr>
</table>
</div>
