$def with (d)

<a href="/">home</a>
<h1>RankingLinst</h1>
<p>
$d['fd'].strftime('%Y-%m-%d')のランキング<br/>
Media:$d['media']&nbsp;Field:$d['field']<br/>
ランキング個数:$d['maxsize']&nbsp;$d['start']位から$d['end']位まで<br/>
</p>
<div>
$for p,l in d['pg']:
   <a href="/ranking?media=$d['media']&field=$d['field']&from=$d['fd'].strftime('%Y-%m-%d')&to=$d['to'].strftime('%Y-%m-%d')&offset=$p&limit=$l&filtercountry=$d['filtercountry']">$(p+1)位</a>
</div>
<div>
$def show_elm(r):
    <p>
    rank=$r['rank']<br/>
    <img src="$r['img']"/><br/>
    title=$r['title']
    </p>
$def show_img(r):
    <a href="$r['link']" target="_blank">
    <img src="$r['img']" title="$r['title']"/>
    </a>
<table>
<tr>
<th></th>
$for rn in d['ranknums']:
   <th>$rn位</th>
</tr>
$for ri in d['datas']:
   <tr>
   <td>$ri.country</td>
   $for r in ri.ranking_data:
         <td valign="top">$:show_img(r)</td>
   </tr>
</table>
</div>
